/* used to adjust width of outermost container to specific screen ... if between min and next min level, then set to min */
.responsive-width {
    width: 100%;
}
@media (min-width: 640px) {
    .responsive-width {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .responsive-width {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .responsive-width {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .responsive-width {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .responsive-width {
        max-width: 1536px;
    }
}
@media (min-width: 1792px) {
    .responsive-width {
        max-width: 1792px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111827;
}

header {
    background: #4b4b4b;
    color: white;
    padding-top: 1rem;
    text-align: center;
}

.content-container {
    background: #4b4b4b;
    border-radius: 5rem;
    text-align: center;
    padding-bottom: 5rem;
    margin-left: 4rem;
    border-color:#111827;
    border-width: 2rem;
    width: 90%
}

li {
    text-align:left;
}

.content-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.content {
    display: flex;
    overflow: hidden;
    margin: 0;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.content img {
    width: 5rem;
    height: 9rem;
    margin-right: 10px;
}

/* styles.css */
.watchlist {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #4b4b4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.watchlist h1 {
    text-align: center;
    font-size: 24px;
}

.watchlist-items {
    list-style: none;
    padding: 0;
}

.watchlist li {
    margin: 10px 0;
    padding: 10px;
    background-color: #303030;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* Display the image and description side by side */
    
}

.watchlist li img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.title-info {
    flex: 1; /* Allow the description to take up the remaining space */
}

.title-info h2 {
    font-size: 18px;
}

.title-info p {
    font-size: 14px;
    margin: 5px 0;
}

.delete-button {
    background-color: #f44336; /* Red color for the delete button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red color on hover */
}