body{
    background-color: #111827;
}
video{
    width: inherit;
    align-self: center;
}

h1{
    color: #eee7d8;
    font-family: 'Roboto', sans-serif;

}
h2{
    color: #eee7d8;
    font-family: 'Roboto', sans-serif;

}
h3{
    color: #eee7d8;
    font-family: 'Roboto', sans-serif;

}
p{
    color: #eee7d8;
    font-family: 'Roboto', sans-serif;
}
button{
    height: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}
.flex-container {
    display: flex;
    background-color:#111827;
}
.nowrap {
    flex-wrap: nowrap;
}
img{
    background-color:#111827;
    background-size: cover;
    height: 5rem;
}

